*{
    box-sizing: border-box;
}

.container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: gray solid 1px;
    border-radius: 8px;
    padding: 30px;
}

input[type="text"],input[type="password"],button{
    width: 100%;
    padding: 15px;
    border: gray solid 1px;
    border-radius: 8px;
    margin-bottom: 20px;
}


