<div class="container">
    <input type="text" #num1 placeholder="Numero 1"/>
    <input type="text" #num2 placeholder="Numero 2">
    <button (click)="somar(num1.value, num2.value)">Somar</button>
    <button (click)="subtrair(num1.value, num2.value)">Subtrair</button>
    <button (click)="multiplicar(num1.value, num2.value)">Multplicar</button>
    <button (click)="dividir(num1.value, num2.value)">Dividir</button>
    <button (click)="limpar()">Limpar</button>
    <p>Resultado: {{resultado}}</p>
</div>
