<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- <app-angular-template></app-angular-template> -->

    <!-- <app-consulta></app-consulta> -->

    <!-- <app-cadastro></app-cadastro> -->

    <!-- Get the component with routes -->
    <h1>Angular Router Aula 2</h1>
    <nav>
        <ul>
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/angularIfElse" routerLinkActive="active">If and Else</a></li>
            <li><a routerLink="/angularLoopFor" routerLinkActive="active">Loop For</a></li>
            <li><a routerLink="/angularForm" routerLinkActive="active">Forms</a></li>
        </ul>
    </nav>

    <router-outlet></router-outlet>
</body>
