<!-- <app-angular-template></app-angular-template> -->

<!-- <app-consulta></app-consulta> -->

<!-- <app-cadastro></app-cadastro> -->

<!-- Get the component with routes -->
<h1>Angular Router Aula 2</h1>
<nav>
    <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/angularIfElse" routerLinkActive="active">If and Else</a></li>
        <li><a routerLink="/angularLoopFor" routerLinkActive="active">Loop For</a></li>
        <li><a routerLink="/angularForm" routerLinkActive="active">Forms</a></li>
    </ul>
</nav>

<router-outlet></router-outlet>

