<div class="margin">
    <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control"  #id ngModel name="id" placeholder="Digite o ID">
    </div>
        <button class="btn btn-outline-dark" (click)="deleteUser(id.value)">Excluir</button>
</div>
<!-- <div class="margin">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody> -->
            <!-- Loop For -->
            <!--<tr *ngFor='let user of deleteID'>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.location}}</td>
            </tr>
        </tbody>
    </table>
</div> -->