<div class="margin">
    <p>Lista de Usuários</p>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop For -->
            <tr *ngFor='let user of listaUser'>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.location}}</td>
            </tr>
        </tbody>
    </table>
</div>