<div class="margin">
    <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control"  #id ngModel name="id" placeholder="Digite o ID">
    </div>
        <button class="btn btn-outline-dark" (click)="deleteId(id.value)">Excluir</button>
</div>
<div class="margin">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop For -->
            <tr *ngFor='let user of listaUser'>
                <td>{{user.id}}</td>
                <td>{{user.title}}</td>
                <td>{{user.completed}}</td>
            </tr>
        </tbody>
    </table>
</div>